div {
    background: #FFF2F3;
    border-radius: 50px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 16px;
    color: #E90E1B;
    margin-top: 20px;
    text-align: center;
    word-break: break-word;

    @media (max-width: 500px) {
        font-size: 13px;
    }
}