<div class="coupen-title" appFontSwitcher>تفاصيل القسيمة:</div>

<div class="coupen-details">
  <div class="header">
    <div class="item">
      <div class="ar" appFontSwitcher>الكمية</div>
      <div class="en" appFontSwitcher>Quantity</div>
    </div>
    <div class="item">
      <div class="ar" appFontSwitcher>الوحدة</div>
      <div class="en" appFontSwitcher>Unit</div>
    </div>
    <div class="item">
      <div class="ar" appFontSwitcher>اسم العنصر</div>
      <div class="en" appFontSwitcher>Item Name</div>
    </div>
  </div>
  <div class="body">
    @for (item of items; track $index) {
    <div class="body-inner">
      <div class="item" appFontSwitcher>{{ item.qty }}</div>
      <div class="item" appFontSwitcher>{{ item.itemUnit }}</div>
      <div class="item" appFontSwitcher>{{ item.itemName }}</div>
    </div>
    }
  </div>
</div>

<div class="receipt">
  <div class="buttons">
    <div>
      <app-btn-primary [englishLabel]="'Print Coupon'" [arabicLabel]="'طباعة القسيمة'"></app-btn-primary>
    </div>
    <div>
      <app-btn-primary [englishLabel]="'Process'" [arabicLabel]="'العملية'" type="secondary" (clicked)="processClick()"></app-btn-primary>
    </div>
  </div>
</div>
