<app-back (back)="goBack()">
  @if(step === 2) {
  <div class="top-details">
    <div class="amount" appFontSwitcher>{{ amount }}</div>
    <div class="coupen-text">
      <div class="ar" appFontSwitcher>مبلغ القسيمة</div>
      <div class="en" appFontSwitcher>:Coupon Amount</div>
    </div>
  </div>
  }
</app-back>

<div class="purchase-main-section" [class.mb-0]="step === 4">
  @if(step === 1) {
  <app-purchase-input
    (goNext)="validateCoupenNumber($event)"
    [arabicTitle]="'الرجاء إدخال رقم القسيمة.'"
    [englishTitle]="'Please Enter the Coupon No.'"
    [minValue]="7"
    [error]="incorrectCoupenError"
  ></app-purchase-input>
  } @else if(step === 2) {
  <app-coupen-details [items]="listItem" (process)="validateCoupenDetails()"></app-coupen-details>
  } @else if (step === 3) {
  <app-purchase-input
    (goNext)="validatePinCode($event)"
    [englishTitle]="'Please Enter the Coupon Pincode'"
    [arabicTitle]="'الرجاء إدخال رمز الكوبون البريدي'"
    [minValue]="4"
    [maxValue]="4"
    [error]="incorrectCoupenError"
  ></app-purchase-input>
  } @else if(step === 4) {
  <app-status [data]="purchaseRes" (goPrint)="print()"></app-status>
  } @else if(step === 5) {
  <app-purchase-input
    (goNext)="validateInvoice($event)"
    [arabicTitle]="'الرجاء إدخال رقم التعريف الشخصي'"
    [englishTitle]="'Please Enter Inovice Number'"
    [minValue]="1"
    [error]="incorrectCoupenError"
  ></app-purchase-input>
  }
</div>
