button {
    border: 1px solid #1946A3;
    padding: 18px 0;
    width: 100%;
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
    border-radius: 50px;

    &.primary {
        background: #1946A3;
        color: #FFFFFF;
    }

    &.secondary {
        color: #1946A3;
        background: #FFFFFF;
    }

    &[disabled] {
        background: #5d5d5d;
        border: 1px solid #5d5d5d;
        cursor: no-drop;
    }

    @media(max-width: 992px) {
        padding: 16px 0;
    }

    @media(max-width: 700px) {
        font-size: 15px;
    }

    .arb {
        margin-left: 10px;
    }
}