<div class="payment">
  <div class="title">
    @if(arabicTitle) {
    <div class="ar" appFontSwitcher>{{ arabicTitle }}</div>
    } @if(englishTitle) {
    <div class="en" appFontSwitcher>{{ englishTitle }}</div>
    }
  </div>
  <div class="key-section">
    <div class="input">
      @if (type === 'number') {
      <input id="input" [type]="'number'" [(ngModel)]="input" />
      } @else {
      <input id="input" [type]="'string'" [(ngModel)]="inputString" />
      }
    </div>
    @if(error) {
    <div class="error">
      <app-error [message]="error"></app-error>
    </div>
    }
    <app-number-keyboard
      (value)="getInputValue($event)"
      (validate)="type === 'number' ? validateForm() : validateStringForm()"
      [min]="minValue"
      [max]="maxValue"
      [input]="type === 'number' ? input : inputString"
    ></app-number-keyboard>
  </div>
</div>
