<div class="otp-inputs">
  <div class="inputs">
    <ng-otp-input [config]="{length: 4, allowNumbersOnly: true}" (onInputChange)="handleOtpChange($event)"></ng-otp-input>
  </div>
  <div class="timer">
    <app-timer [time]="timer" (timeExpired)="timeExpired($event)"></app-timer>
  </div>
  <div class="button">
    <app-btn-primary [englishLabel]="'Verify'" [arabicLabel]="'التحقق'" [disabled]="otpNumber.length !== 4" (click)="submitOtp()"></app-btn-primary>
  </div>
  @if (error) {
  <div class="error">
    <app-error [message]="error"></app-error>
  </div>
  }
</div>
