@if(step !== 4) {
<app-back (back)="goBack()"></app-back>
}
<div class="purchase-main-section" [class.mb-0]="step === 4">
  @if(step === 1) {
  <app-amount (goNext)="validateAmount($event)" [englishTitle]="'New Purchase'" [arabicTitle]="'شراء جديد'"></app-amount>
  } @else if(step === 2) {
  <app-purchase-input (goNext)="validateAccessCode($event)" [arabicTitle]="'أدخل رمز التعريف الشخصي السريع'" [minValue]="6"></app-purchase-input>
  } @else if(step === 3) {
  <app-purchase-input (goNext)="validatePicCode($event)" [arabicTitle]="'أدخل الرمز البريدي'" [englishTitle]="'Enter PIN Code'" [minValue]="4" [maxValue]="4"></app-purchase-input>
  } @else if(step === 4) {
  <app-status [data]="purchaseRes" (goInvoiceScreen)="enterInvoice()"></app-status>
  } @else if(step === 5) {
  <app-purchase-input
    (goNext)="validateInvoice($event)"
    [arabicTitle]="'الرجاء إدخال رقم التعريف الشخصي'"
    [englishTitle]="'Please Enter Inovice Number'"
    [minValue]="1"
    [error]="incorrectCoupenError"
  ></app-purchase-input>
  }
</div>
