<div class="boxes">
  <div class="box">
    <app-boxes [icon]="'access'" [englishText]="'By Access Code'" [arabicText]="'الشراء بالرقم'" [link]="'purchase/access-code'"></app-boxes>
  </div>
  <div class="box">
    <app-boxes [icon]="'coupen'" [englishText]="'Coupen Purchase'" [arabicText]="'شراء القسيمة'" [link]="'purchase/coupen'"></app-boxes>
  </div>
  <div class="box">
    <app-boxes [icon]="'refund'" [englishText]="'Refund'" [arabicText]="'استرداد الأموال'" [link]="'refund'"></app-boxes>
  </div>
  <div class="box">
    <app-boxes [icon]="'transactions'" [englishText]="'Load Transactions'" [arabicText]="'اخر العمليات'" [link]="'transactions'"></app-boxes>
  </div>
  <div class="box">
    <app-boxes [icon]="'monthly'" [englishText]="'Monthly Report'" [arabicText]="'التقرير الشهري'" [link]="'monthly-report'"></app-boxes>
  </div>
</div>
